<header >
  <img width="90" height="90" src="../../../assets/logo-filled.png" alt="Contoso Task Pane Add-in" title="Contoso Task Pane Add-in" />

</header>
<main class="ms-welcome__main">
  <div class="card-container">
    <div>Show Q4</div>
		<label>If answered question: </label>
		<select placeholder="Qid" [(ngModel)]="selectedCountry" (change)="changeQid($event)">
			<option>--Choose Country--</option>
			<option *ngFor="let item of newData">{{item.qid}}</option>
		</select>
	</div>

  <div class="card-container">
		<label>Answer : </label>
		<select placeholder="Answers" (change)="changeAnswer($event)">
			<option>--Choose State--</option>
			<option *ngFor="let answer of answers">{{answer}}</option>
		</select>
	</div>


  <div role="button" class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20">
      <span class="ms-Button-label">{{expression}}</span>
      <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--ChevronRight"></i></span>
  </div>

</main>